<div class="container">
  <div class="row">
    <div class="col-md-4">
      {{#link-to 'artists.new'}} Create New Artist {{/link-to}}
      {{#each model.artists as |artist|}}
        <div>
          {{#link-to 'artists.artist' artist.id}}
            {{artist.name}}
          {{/link-to}}
        </div>
      {{/each}}
    </div>
    <div class="col-md-8">
      {{outlet}}
    </div>
  </div>
</div>
